NEON_DATABASE_URL=your_neon_postgres_connection_string
NOTION_API_KEY=your_notion_integration_token
ENABLE_LEGACY_NOTION_SIGNALS=false
NOTION_DB_ID=your_legacy_signal_database_id
NOTION_WEEKLY_DB_ID=your_weekly_reports_database_id
