NEON_DATABASE_URL=your_neon_postgres_connection_string
NOTION_API_KEY=your_notion_integration_token
ENABLE_LEGACY_NOTION_SIGNALS=false
NOTION_DB_ID=your_legacy_signal_database_id
NOTION_WEEKLY_DB_ID=your_weekly_reports_database_id
NEON_AUTH_BASE_URL=https://ep-autumn-shape-aodsxmjn.neonauth.c-2.ap-southeast-1.aws.neon.tech/neondb/auth
NEON_AUTH_COOKIE_SECRET=generate_with_openssl_rand_base64_32
AUTH_ALLOWED_DOMAINS=getelvan.com,elvan.com
